<div>
  <div>
    <h1>
      Services Offered
      <%# List of all services %>
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      + Add A Service
    </h2>

    <form action="/insert_service" method="post">
      <div>
        <label for="service_name_box">
          Service name
        </label>

        <input type="text" id="service_name_box" name="query_service_name" placeholder="Enter a service name">
      </div>

      <div>
        <label for="category_box">
          Category
        </label>

        <select id="category_box" name="query_category" placeholder="Choose a category from the list">
          <option value="washing">Washing</option>
          <option value="cooking">Cooking</option>
          <option value="cleaning">Cleaning</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" placeholder="Enter the date of the service...">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" placeholder="Enter a URL for the image...">
      </div>

      <div>
        <label for="receiver_id_box">
          Receiver ID
        </label>

        <input type="text" id="receiver_id_box" name="query_receiver_id">
      </div>

      <div>
        <label for="coupon_id_box">
          Coupon ID
        </label>

        <input type="text" id="coupon_id_box" name="query_coupon_id">
      </div>

      <button>
        Create service
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Service name
        </th>

        <th>
          Category
        </th>

        <th>
          Date
        </th>

        <th>
          Image
        </th>

        <th>
          Receiver ID
        </th>

        <th>
          Coupon ID
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_services.each do |a_service| %>
      <tr>
        <td>
          <%= a_service.id %>
        </td>

        <td>
          <%= a_service.service_name %>
        </td>

        <td>
          <%= a_service.category %>
        </td>

        <td>
          <%= a_service.date %>
        </td>

        <td>
          <img src=<%= a_service.image %> style="width:250px;">
        </td>

        <td>
          <%= a_service.receiver_id %>
        </td>

        <td>
          <%= a_service.coupon_id %>
        </td>

        <td>
          <a href="/services/<%= a_service.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
