<div>
  <div>
    <h1>
      List of all messages
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new message
    </h2>

    <form action="/insert_message" method="post">
      <div>
        <label for="content_box">
          Content
        </label>

        <textarea id="content_box" name="query_content" rows="3"></textarea>
      </div>
<%# 
      <div>
        <label for="giver_id_box">
          Giver
        </label>

        <input type="text" id="giver_id_box" name="query_giver_id">
      </div> %>

      <div>
        <label for="receiver_id_box">
          Receiver
        </label>

        <input type="text" id="receiver_id_box" name="query_receiver_id">
      </div>

      <button>
        Create message
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Content
        </th>

        <th>
          Giver
        </th>

        <th>
          Receiver
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_messages.each do |a_message| %>
      <tr>
        <td>
          <%= a_message.id %>
        </td>

        <td>
          <%= a_message.content %>
        </td>

        <td>
          <%= a_message.giver_id %>
        </td>

        <td>
          <%= a_message.receiver_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_message.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_message.updated_at) %> ago
        </td>

        <td>
          <a href="/messages/<%= a_message.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
