<div>
  <div>
    <h1>
      The <%= @the_family.family_name %> Family
    </h1>

    <div>
      <div>
        <a href="/families">
          Go back
        </a>
      </div>
    </div>
  </div>
</div>

<hr>

<table border="1">
  <tr>
    <th>
      Name
    </th>

    <th>
      Role
    </th>

    <th>
      Photo
    </th>

    <th>
      Show Details
    </th>
  </tr>

  <% @the_family.members.each do |a_member| %>
    <tr>
      <td>
        <%= a_member.user.first_name %>
      </td>

      <td>
        <%= a_member.role.role %>
      </td>

      <td>
        <img src=<%= a_member.user.profile_image %> style="width:250px;">
      </td>

      <td>
        <a href="/members/<%= a_member.id %>">
          Profile Details
        </a>
      </td>
    </tr>
  <% end %>
</table>

<hr>
