<div>
  <div>
    <% matching_role_id = Member.where({ :user_id => @current_user.id }).at(0).role_id %>
    <% matching_role = Role.where({ :id => matching_role_id }).at(0).role %>
    <% if matching_role != "Son" %>
      <% if matching_role != "Daughter" %>
        <h1>
          All Coupons You've Granted
        </h1>
      <% else %>
        <h1>
          Your Coupons
        </h1>
      <% end %>
    <% else %>
      <h1>
        Your Coupons
      </h1>
    <% end %>
  </div>
</div>
<hr>
<div>
  <div>
    <% matching_role_id = Member.where({ :user_id => @current_user.id }).at(0).role_id %>
    <% matching_role = Role.where({ :id => matching_role_id }).at(0).role %>
    <% if (matching_role == "Son") || (matching_role == "Daughter") %>
      <table>
        <tr>
          <th>
          </th>
          <th>
            Giver
          </th>
          <th>
            Coupon content
          </th>
          <th>
            Expiration date
          </th>
          <th>
            Redeemed
          </th>
          <th>
          </th>
        </tr>
        <% @list_of_coupons.each do |a_coupon| %>
          <tr>
            <% if a_coupon.receiver_id == @current_user.id %>
              <td>
                <img src="https://help.idevaffiliate.com/wp-content/uploads/2015/04/coupon-graphic.gif" style="width:150px;">
              </td>
              <td>
                <% matching_role = Member.where({ :user_id => a_coupon.giver_id }).at(0).role_id %>
                <%= Role.where({ :id => matching_role }).at(0).role %>
              </td>
              <td>
                <%= a_coupon.coupon_content %>
              </td>
              <td>
                <%= a_coupon.expiration_date %>
              </td>
              <td>
                <% if a_coupon.redeemed == false%>
                  Haven't redeemed
                <% else %>
                  Redeemed
                <% end %>
              </td>
              <td>
                <a href="/redeem_coupon/<%= a_coupon.id %>"> Redeem Coupon </a>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% else %>
      <table>
        <tr>
          <th>
          </th>
          <th>
            Receiver
          </th>
          <th>
            Coupon content
          </th>
          <th>
            Expiration date
          </th>
          <th>
            Redeemed
          </th>
          <th>
          </th>
        </tr>
        <% @list_of_coupons.each do |a_coupon| %>
          <tr>
            <% if a_coupon.giver_id == @current_user.id %>
              <td>
                <img src="https://help.idevaffiliate.com/wp-content/uploads/2015/04/coupon-graphic.gif" style="width:150px;">
              </td>
              <td>
                <% matching_role = Member.where({ :user_id => a_coupon.receiver_id }).at(0).role_id %>
                <%= User.where({ :id => a_coupon.receiver_id }).at(0).first_name %>
                (<%= Role.where({ :id => matching_role }).at(0).role %>)
              </td>
              <td>
                <%= a_coupon.coupon_content %>
              </td>
              <td>
                <%= a_coupon.expiration_date %>
              </td>
              <td>
                <% if a_coupon.redeemed == false%>
                  Haven't redeemed
                <% else %>
                  Redeemed
                <% end %>
              </td>
              <td>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <a href="/delete_coupon/<%= a_coupon.id %>" class="btn btn-warning">
                  Delete Coupon
                </a>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
<hr>
