<div>
  <div style="
  font-family: 'Architects Daughter', cursive; 
  background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;">
    <% matching_role_id = Member.where({ :user_id => @current_user.id }).at(0).role_id %>
    <% matching_role = Role.where({ :id => matching_role_id }).at(0).role %>
    <% if matching_role != "Son" %>
      <% if matching_role != "Daughter" %>
        <h1>
          ALL COUPONS YOU'VE GRANTED
        </h1>
      <% else %>
        <h1>
          YOUR COUPONS
        </h1>
      <% end %>
    <% else %>
      <h1>
        YOUR COUPONS
      </h1>
    <% end %>
  </div>
</div>
<%# <hr> %>
<div>
  <div>
    <% matching_role_id = Member.where({ :user_id => @current_user.id }).at(0).role_id %>
    <% matching_role = Role.where({ :id => matching_role_id }).at(0).role %>
    <% if (matching_role == "Son") || (matching_role == "Daughter") %>
      <table class="card-deck">
        <% @list_of_coupons.each do |a_coupon| %>
          <tr>
            <div class="card">
            <% if a_coupon.receiver_id == @current_user.id %>
              <td>
                <img class="card-img-top" src="https://help.idevaffiliate.com/wp-content/uploads/2015/04/coupon-graphic.gif" style="width:150px;">
              </td>
              <td class="card-body">
                <h5 class="card-title" style="font-family: 'Architects Daughter', cursive;">Giver</h5>
                <% matching_role = Member.where({ :user_id => a_coupon.giver_id }).at(0).role_id %>
                <%= Role.where({ :id => matching_role }).at(0).role %>
              </td>
              <td class="card-body">
                <h5 class="card-title" style="font-family: 'Architects Daughter', cursive;">Coupon Content</h5>
                <%= a_coupon.coupon_content %>
              </td>
              <td class="card-body">
                <h5 class="card-title" style="font-family: 'Architects Daughter', cursive;">Expiration date</h5>
                <%= a_coupon.expiration_date %>
              </td>
              <td class="card-body">
                <% if a_coupon.redeemed == false%>
                  Haven't redeemed
                <% else %>
                  Redeemed
                <% end %>
              </td>
              <td class="card-footer">
                <a href="/redeem_coupon/<%= a_coupon.id %>"> Redeem Coupon </a>
              </td>
            <% end %>
            </div>
          </tr>
        <% end %>
      </table>
    <% else %>
      <table class="card-deck">
        <% @list_of_coupons.each do |a_coupon| %>
          <tr>
            <div class="card">
            <% if a_coupon.giver_id == @current_user.id %>
              <td>
                <img class="card-img-top" src="https://help.idevaffiliate.com/wp-content/uploads/2015/04/coupon-graphic.gif" style="width:150px;">
              </td>
              <td class="card-body">
                <h5 class="card-title" style="font-family: 'Architects Daughter', cursive;">Receiver</h5>
                <% matching_role = Member.where({ :user_id => a_coupon.receiver_id }).at(0).role_id %>
                <%= User.where({ :id => a_coupon.receiver_id }).at(0).first_name %>
                (<%= Role.where({ :id => matching_role }).at(0).role %>)
              </td>
              <td class="card-body">
                <h5 class="card-title" style="font-family: 'Architects Daughter', cursive;">Coupon Content</h5>
                <%= a_coupon.coupon_content %>
              </td>
              <td class="card-body">
                <h5 class="card-title" style="font-family: 'Architects Daughter', cursive;">Expiration date</h5>
                <%= a_coupon.expiration_date %>
              </td>
              <td class="card-body">
                <% if a_coupon.redeemed == false%>
                  Haven't redeemed
                <% else %>
                  Redeemed
                <% end %>
              </td>
              <td class="card-footer">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <a href="/delete_coupon/<%= a_coupon.id %>" class="btn btn-warning">
                  Delete Coupon
                </a>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
<hr>
