<div>
  <div>
    <h1>
      Grant Coupons to Your Kids
    </h1>
    <p>
      Rewards help motivate and inspire. They can encourage your kids to develop positive behaviors. 
    </p>
  </div>
</div>

<hr>

<div>
  <div>
    <form action="/insert_coupon" method="post">
      <div>
        <label for="chore_id_box">
          Chore
        </label>

        <input type="text" id="chore_id_box" name="query_chore_id">
      </div>

      <div>
        <input type="checkbox" id="redeemed_box" name="query_redeemed" value="1">

        <label for="redeemed_box">Redeemed</label>
      </div>

      <div>
        <label for="receiver_id_box">
          Receiver
        </label>

        <input type="text" id="receiver_id_box" name="query_receiver_id">
      </div>

      <div>
        <label for="giver_id_box">
          Giver
        </label>

        <input type="text" id="giver_id_box" name="query_giver_id">
      </div>

      <div>
        <label for="coupon_content_box">
          Coupon content
        </label>

        <input type="text" id="coupon_content_box" name="query_coupon_content">
      </div>

      <div>
        <label for="expiration_date_box">
          Expiration date
        </label>

        <input type="date" id="expiration_date_box" name="query_expiration_date">
      </div>

      <button>
        Create coupon
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Chore
        </th>

        <th>
          Redeemed
        </th>

        <th>
          Receiver
        </th>

        <th>
          Giver
        </th>

        <th>
          Coupon content
        </th>

        <th>
          Expiration date
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_coupons.each do |a_coupon| %>
      <tr>
        <td>
          <%= a_coupon.id %>
        </td>

        <td>
          <%= a_coupon.chore_id %>
        </td>

        <td>
          <%= a_coupon.redeemed %>
        </td>

        <td>
          <%= a_coupon.receiver_id %>
        </td>

        <td>
          <%= a_coupon.giver_id %>
        </td>

        <td>
          <%= a_coupon.coupon_content %>
        </td>

        <td>
          <%= a_coupon.expiration_date %>
        </td>

        <td>
          <%= time_ago_in_words(a_coupon.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_coupon.updated_at) %> ago
        </td>

        <td>
          <a href="/coupons/<%= a_coupon.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
