<div>
  <div>
    <h1>
      Coupon #<%= @the_coupon.id %> details
    </h1>

    <div>
      <div>
        <a href="/coupons">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_coupon/<%= @the_coupon.id %>">
          Delete coupon
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Chore
      </dt>
      <dd>
        <%= @the_coupon.chore_id %>
      </dd>

      <dt>
        Redeemed
      </dt>
      <dd>
        <%= @the_coupon.redeemed %>
      </dd>

      <dt>
        Receiver
      </dt>
      <dd>
        <%= @the_coupon.receiver_id %>
      </dd>

      <dt>
        Giver
      </dt>
      <dd>
        <%= @the_coupon.giver_id %>
      </dd>

      <dt>
        Coupon content
      </dt>
      <dd>
        <%= @the_coupon.coupon_content %>
      </dd>

      <dt>
        Expiration date
      </dt>
      <dd>
        <%= @the_coupon.expiration_date %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_coupon.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_coupon.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit coupon
    </h2>

    <form action="/modify_coupon/<%= @the_coupon.id %>"  method="post" >
      <div>
        <label for="chore_id_box">
          Chore
        </label>

        <input type="text" id="chore_id_box" name="query_chore_id" value="<%= @the_coupon.chore_id %>">
      </div>

      <div>
        <input type="checkbox" id="redeemed_box" name="query_redeemed" value="1" <%= "checked" if @the_coupon.redeemed %>>

        <label for="redeemed_box">
            Redeemed
        </label>
      </div>

      <div>
        <label for="receiver_id_box">
          Receiver
        </label>

        <input type="text" id="receiver_id_box" name="query_receiver_id" value="<%= @the_coupon.receiver_id %>">
      </div>

      <div>
        <label for="giver_id_box">
          Giver
        </label>

        <input type="text" id="giver_id_box" name="query_giver_id" value="<%= @the_coupon.giver_id %>">
      </div>

      <div>
        <label for="coupon_content_box">
          Coupon content
        </label>

        <input type="text" id="coupon_content_box" name="query_coupon_content" value="<%= @the_coupon.coupon_content %>">
      </div>

      <div>
        <label for="expiration_date_box">
          Expiration date
        </label>

        <input type="date" id="expiration_date_box" name="query_expiration_date" value="<%= @the_coupon.expiration_date %>">
      </div>

      <button>
        Update coupon
      </button>
    </form>
  </div>
</div>

<hr>
