<div>
  <div>
    <h1>
      Grant Coupons to Your Kids
    </h1>
    <p>
      Rewards help motivate and inspire. They can encourage your kids to develop positive behaviors. 
    </p>
  </div>
</div>

<hr>

<div>
  <div>
    <form action="/modify_coupon/<%= @the_coupon.id %>"  method="post" >
      
        <% if @the_coupon.coupon_content.blank? == false %>
          <div class="alert alert-danger" role="alert">
            <h4 class="text-center">
              YOU'VE ALREADY GRANTED COUPON FOR THIS CHORE! 
              &nbsp &nbsp
              <a href="/chores" class="btn btn-danger">
                Go Back
              </a>
            </h4>
          </div>
        <% end %>
      <div>
        <input type="hidden" id="chore_id_box" name="query_chore_id" value="<%= @the_coupon.chore_id %>">
      </div>

      <div>
        <%# type="checkbox" %>
        <%# <label for="redeemed_box"> %>
            <%# Redeemed %>
        <%# </label> %>
        <input type="hidden" id="redeemed_box" name="query_redeemed" value="1" <%= "checked" if @the_coupon.redeemed %>>
      </div>

      <div>
        <input type="hidden" id="receiver_id_box" name="query_receiver_id" value="<%= @the_coupon.receiver_id %>">
      </div>

      <div>
        <input type="hidden" id="giver_id_box" name="query_giver_id" value="<%= @the_coupon.giver_id %>">
      </div>

      <div>
        <label for="coupon_content_box">
          Coupon content
        </label>

        <input type="text" id="coupon_content_box" name="query_coupon_content" value="<%= @the_coupon.coupon_content %>" placeholder="What rewards would you like to give to your kids?">
      </div>

      <div>
        <label for="expiration_date_box">
          Expiration date
        </label>

        <input type="date" id="expiration_date_box" name="query_expiration_date" value="<%= @the_coupon.expiration_date %>">
      </div>

      <button>
        Grant the Coupon
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <h4 style="font-style: italic; text-align: center;"> A list of Kids Chore Rewards for your reference </h4>
  <img src="https://cdn.loveandmarriageblog.com/wp-content/uploads/2017/04/kidchorerewards.png">
</div>

<hr>

<div>
  <div type="button" class="btn btn-info btn-lg btn-block">
    <a href="/coupons" style="color: white">
      Click to See the List of All Coupons You've Granted
    </a>
  </div>
  <div type="button" class="btn btn-secondary btn-lg btn-block">
    <a href="/chores" style="color: white">
      Go Back
    </a>
  </div>
</div>
