<div>
  <div>
    <h1>
      Chores FOR Rewards
    </h1>
    <p>
      I'm not doing chores for others, I'm doing it because we can have a clean, healthy, and happy home.
    </p>
  </div>
</div>
<hr>
<div>
  <div>
    <% matching_role_id = Member.where({ :user_id => @current_user.id }).at(0).role_id %>
    <% matching_role = Role.where({ :id => matching_role_id }).at(0).role %>
    <% if matching_role != "Son" %>
      <% if matching_role != "Daughter" %>
        <%#= matching_role %>
        <h3>
          + Add a Chore
        </h3>
        <form action="/insert_chore" method="post">
          <div>
            <input type="hidden" id="family_id_box" name="query_family_id">
          </div>
          <div>
            <label for="receiver_id_box">
              Which kid is going to complete the chore?
            </label>
            <select id="receiver_id_box" name="query_receiver_id" placeholder="Which kid is going to complete the chore?">
              <% @list_of_users.each do |user| %>
                <% if user.last_name == @current_user.last_name %>
                  <% matching_role_id = Member.where({ :user_id => user.id }).at(0).role_id %>
                  <% matching_role = Role.where({ :id => matching_role_id }).at(0).role %>
                  <% if matching_role == "Son" %>
                    <option value=<% user.id %>><%= user.first_name %></option>
                  <% elsif matching_role == "Daughter" %>
                    <option value=<% user.id %>><%= user.first_name %></option>
                  <% end %>
                <% end %>
              <% end %>
            </select>
          </div>
          <div>
            <input type="hidden" id="giver_id_box" name="query_giver_id">
          </div>
          <div>
            <label for="chore_name_box">
              Chore name
            </label>
            <input type="text" id="chore_name_box" name="query_chore_name" placeholder="Enter a chore name">
          </div>
          <div>
            <label for="image_box">
              Image
            </label>
            <input type="text" id="image_box" name="query_image" placeholder="Enter a URL for the image...">
          </div>
          <div>
            <label for="category_box">
              Category
            </label>
            <select id="category_box" name="query_category" placeholder="Choose a category from the list">
              <option value="Washing">Washing</option>
              <option value="Cooking">Cooking</option>
              <option value="Cleaning">Cleaning</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div>
            <label for="due_date_box">
              Due date
            </label>
            <input type="date" id="due_date_box" name="query_due_date" placeholder="Enter the due date of the chore...">
          </div>
          <div>
            <input type="checkbox" id="completed_box" name="query_completed" value="1">
            <label for="completed_box">Completed</label>
          </div>
          <div>
            <input type="hidden" id="coupon_id_box" name="query_coupon_id">
          </div>
          <button>
            Create Chore
          </button>
        </form>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>
<div>
  <div>
    <% matching_role_id = Member.where({ :user_id => @current_user.id }).at(0).role_id %>
    <% matching_role = Role.where({ :id => matching_role_id }).at(0).role %>
    <% if matching_role != "Son" %>
      <% if matching_role != "Daughter" %>
        <table>
          <tr>
            <th>
              Complete By (kid)
            </th>
            <th>
              Chore name
            </th>
            <th>
              Image
            </th>
            <th>
              Category
            </th>
            <th>
              Due date
            </th>
            <th>
              Status
            </th>
            <th>
            </th>
          </tr>
          <% @list_of_chores.each do |a_chore| %>
            <tr>
              <td>
                <%= User.where({ :id => a_chore.receiver_id }).at(0).first_name %>
              </td>
              <td>
                <%= a_chore.chore_name %>
              </td>
              <td>
                <img src=<%= a_chore.chore_image %> style="width:250px;">
              </td>
              <td>
                <%= a_chore.category %>
              </td>
              <td>
                <%= a_chore.due_date %>
              </td>
              <td>
                <% if a_chore.completed %>
                  Completed
                <% else %>
                  Not Completed
                <% end %>
              </td>
              
              <td>
                
                <% if a_chore.completed == false %>
                  <a href="/complete_chore/<%= a_chore.id %>" class="btn btn-success" style="color:white"> Change Completion Status</a>
                <% end %>
              </td>
              <td>
                <% if a_chore.completed %>
                  <a href="/coupons/<%= a_chore.coupon_id %>" class="btn btn-outline-success"> Grant Coupons To Your Kids!! </a>
                <% end %>
              <td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <table>
          <tr>
            <th>
              Chore name
            </th>
            <th>
              Image
            </th>
            <th>
              Category
            </th>
            <th>
              Due date
            </th>
            <th>
              Status
            </th>
            <th>
            </th>
          </tr>
          <% @list_of_chores.each do |a_chore| %>
            <% if a_chore.receiver_id == @current_user.id %>
              <tr>
                <td>
                  <%= a_chore.chore_name %>
                </td>
                <td>
                  <img src=<%= a_chore.chore_image %> style="width:250px;">
                </td>
                <td>
                  <%= a_chore.category %>
                </td>
                <td>
                  <%= a_chore.due_date %>
                </td>
                <td>
                  <% if a_chore.completed %>
                    Completed
                  <% else %>
                    Not Completed
                  <% end %>
                </td>
                <td>
                  <% if a_chore.completed %>
                    <a href="/coupons/<%= a_chore.coupon_id %>"> Coupon Details </a>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      <% end %>
    <% else %>
      <table>
          <tr>
            <th>
              Chore name
            </th>
            <th>
              Image
            </th>
            <th>
              Category
            </th>
            <th>
              Due date
            </th>
            <th>
              Status
            </th>
            <th>
            </th>
          </tr>
          <% @list_of_chores.each do |a_chore| %>
            <% if a_chore.receiver_id == @current_user.id %>
              <tr>
                <td>
                  <%= a_chore.chore_name %>
                </td>
                <td>
                  <img src=<%= a_chore.chore_image %> style="width:250px;">
                </td>
                <td>
                  <%= a_chore.category %>
                </td>
                <td>
                  <%= a_chore.due_date %>
                </td>
                <td>
                  <% if a_chore.completed %>
                    Completed
                  <% else %>
                    Not Completed
                  <% end %>
                </td>
                <td>
                  <% if a_chore.completed %>
                    <a href="/coupons/<%= a_chore.coupon_id %>"> Coupon Details </a>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
    <% end %>
  </div>
</div>
<hr>
