<div>
  <div>
    <img src=<%= @the_chore.chore_image %> class="rounded mx-auto d-block img-thumbnail" alt=<%= @the_chore.chore_name %>  style="width: 100%/9;">
    <h1>
      <%= @the_chore.chore_name %>
    </h1>
    <dl>
      <dt>
        Complete By (kid)
      </dt>
      <dd>
        <%= User.where({ :id => @the_chore.receiver_id }).at(0).first_name %>
      </dd>
      <dt>
        Category
      </dt>
      <dd>
        <%= @the_chore.category %>
      </dd>
      <dt>
        Due date
      </dt>
      <dd>
        <%= @the_chore.due_date %>
      </dd>
      <dt>
        Completion Status
      </dt>
      <dd>
        <% if @the_chore.completed %>
          Completed
        <% else %>
          Not Completed
        <% end %>
      </dd>
      <% if @the_chore.completed %>
        <dt>
          Coupon Awarded
        </dt>
        <dd>
          #link to coupon details page
        </dd>
      <% end %>
    </dl>
  </div>
</div>
<hr>
<%# matching_role_id = Member.where({ :user_id => @current_user.id }).at(0).role_id %>
<%# matching_role = Role.where({ :id => matching_role_id }).at(0).role %>
<%# if (matching_role != "Son") ||  matching_role != "Daughter" %>
<div>
  <div>
    <% if @the_chore.giver_id == @current_user.id %>
      <h2>
        Edit Chore
      </h2>
      <form action="/modify_chore/<%= @the_chore.id %>"  method="post" >
        <div>
          <label for="chore_name_box">
            <%= @the_chore.chore_name %>
          </label>
        </div>
        <div>
          <label for="due_date_box">
            Extend the Deadline of the Chore
          </label>
          <input type="date" id="due_date_box" name="query_due_date" value="<%= @the_chore.due_date %>">
        </div>
        <div>
          <input type="checkbox" id="completed_box" name="query_completed" value="1" <%= "checked" if @the_chore.completed %>>
          <label for="completed_box">
            Change the Completion Status
          </label>
        </div>
        <button>
          Update Chore
        </button>
      </form>
      <hr>
    <% end %>
  </div>
</div>

<div>
  <div>
    <a href="/">
      Go Back
    </a>
  </div>
</div>
