<div class="card-deck">
  <div class="card text-center text-white bg-dark" style="width: 18rem;">
    <img src=<%= @the_chore.chore_image %> class="card-img-top" alt=<%= @the_chore.chore_name %> style="opacity: 0.3;">
    <div class="card-body">
    <h1 class="card-title">
      <%= @the_chore.chore_name %>
    </h1>
    <dl>
      <dt>
        Complete By (kid)
      </dt>
      <dd>
        <%= User.where({ :id => @the_chore.receiver_id }).at(0).first_name %>
      </dd>
      <dt>
        Category
      </dt>
      <dd>
        <%= @the_chore.category %>
      </dd>
      <dt>
        Due date
      </dt>
      <dd>
        <%= @the_chore.due_date %>
      </dd>
      <dt>
        Completion Status
      </dt>
      <dd>
        <% if @the_chore.completed %>
          Completed
        <% else %>
          Not Completed
        <% end %>
      </dd>
      <% if @the_chore.completed %>
        <a href="/coupons">Coupon Awarded</a>
      <% end %>
    </dl>
    </div>
  </div>
  <div class="card">
    <% matching_user = User.where({ :id => @the_chore.receiver_id }).at(0) %>
    <img class="card-img-top" src=<%= matching_user.profile_image %> alt=<%= matching_user.first_name %>>
    <div class="card-body">
      <h5 class="card-title"><%= matching_user.first_name %> <%= matching_user.last_name %></h5>
      <p class="card-text"><%= matching_user.bio %></p>
      <p class="card-text"><small class="text-muted"><%= matching_user.email %></small></p>
    </div>
  </div>
</div>
<hr>
<%# matching_role_id = Member.where({ :user_id => @current_user.id }).at(0).role_id %>
<%# matching_role = Role.where({ :id => matching_role_id }).at(0).role %>
<%# if (matching_role != "Son") ||  matching_role != "Daughter" %>
<div>
  <div>
    <% if @the_chore.giver_id == @current_user.id %>
      <h2>
        Edit Chore
      </h2>
      <form action="/modify_chore/<%= @the_chore.id %>"  method="post" >
        <div>
          <label for="chore_name_box">
            <%= @the_chore.chore_name %>
          </label>
        </div>
        <div>
          <label for="due_date_box">
            Extend the Deadline of the Chore
          </label>
          <input type="date" id="due_date_box" name="query_due_date" value="<%= @the_chore.due_date %>">
        </div>
        <div>
          <input type="checkbox" id="completed_box" name="query_completed" value="1" <%= "checked" if @the_chore.completed %>>
          <label for="completed_box">
            Change the Completion Status
          </label>
        </div>
        <button>
          Update Chore
        </button>
      </form>
      <hr>
    <% end %>
  </div>
</div>

<div>
  <div>
    <a href="/chores" class="btn btn-secondary btn-lg">
      Go Back
    </a>
    <p>Back to the Chore List to Make Edits on the Completion Status and Grant Coupon to Your Kids.</p>
  </div>
</div>
