<div class="card" style="
  width: 28rem; 
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;">
  <div class="card-body">
    <h1 class="card-title" style="font-family: 'Architects Daughter', cursive;">Edit User Account</h1>
    <form action="/modify_user" method="post">
      <div class="card-text form-group">
        <label for="email_box">Email</label>
        <input class="form-control" id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div class="card-text form-group">
        <label for="first_name_box">First name</label>
        <input class="form-control" id="first_name_box" name="query_first_name" value="<%= @current_user.first_name %>">
      </div>
      <div class="card-text form-group">
        <label for="last_name_box">Last name</label>
        <input class="form-control" id="last_name_box" name="query_last_name" value="<%= @current_user.last_name %>">
      </div>
      <div class="card-text form-group">
        <label for="profile_image_box">Profile image</label>
        <input class="form-control" id="profile_image_box" name="query_profile_image" value="<%= @current_user.profile_image %>">
      </div>
      <div class="card-text form-group">
        <label for="bio_box">Bio</label>
        <textarea class="form-control" id="bio_box" name="query_bio" rows="3"><%= @current_user.bio %></textarea> 
      </div>

      <div class="card-text form-group">
        <label for="password_box">Password</label>
        <input class="form-control" id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div class="card-text form-group">
        <label for="password_confirmation_box">Password Confirmation</label>
        <input class="form-control" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button class="form-group">
        Update account
      </button>
    </form>
  </div>
</div>
