<div>
  <div>
    <h1>
      Our Loving Family!
      <%# List of all family members %>
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new member of the family
    </h2>

    <form action="/insert_member" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" placeholder="Enter the family member name (indicate family relationship, if applicable">
      </div>

      <div>
        <label for="profile_image_box">
          Profile image
        </label>

        <input type="text" id="profile_image_box" name="query_profile_image" placeholder="Enter a URL for the image...">
      </div>

      <div>
        <label for="bio_box">
          Bio
        </label>

        <textarea id="bio_box" name="query_bio" rows="3" placeholder="Enter something that represents or inspires the member..."></textarea>
      </div>

      <button>
        Create member
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Profile image
        </th>

        <th>
          Bio
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_members.each do |a_member| %>
      <tr>
        <td>
          <%= a_member.id %>
        </td>

        <td>
          <%= a_member.name %>
        </td>

        <td>
          <img src=<%= a_member.profile_image %> style="width:250px;">
        </td>

        <td>
          <%= a_member.bio %>
        </td>

        <td>
          <a href="/members/<%= a_member.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
