<div>
  <div style="
  font-family: 'Architects Daughter', cursive;
  background-image: url('https://i.pinimg.com/originals/53/07/1d/53071d53bf9f39c462ebfe9cd68bf6a5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;">
    <h1>
      The <%= @current_user.last_name %> Family
      <%# List of all family members %>
    </h1>
    <p>
      Being a FAMIly means you are part of something very wonderful.
      It means you will love and be loved for the rest of your life.
    </p>
  </div>
</div>
<hr>
<div>
  <div>
    <table class="table table-sm">
      <thead>
      <tr>
        <%# <th>
          ID
        </th> %>
        <th scope="col">
          <%# Name %>
          <img src="https://png.pngtree.com/png-vector/20191007/ourmid/pngtree-plastic-name-badge-with-neck-strap-icon-png-image_1796127.jpg" 
          style="width:50px; margin-left: auto; margin-right: auto;">
        </th>

        <th scope="col">
          <%# Role %>
          <img src="https://static.vecteezy.com/system/resources/previews/000/267/083/non_2x/silhouette-of-a-family-vector.jpg" 
          style="width:50px; margin-left: auto; margin-right: auto;">
        </th>

        <th scope="col">
          <%# Profile image %>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAhOwr9fr6rqgzh26aepIkZBrm0QsgbreexQ&usqp=CAU" style="width:50px; display: block; margin-left: auto; margin-right: auto;">
        </th>

        <th scope="col">
          <%# Bio %>
          <img src="https://www.pngitem.com/pimgs/m/479-4795914_free-vector-dialog-box-104-models-png-png.png" style="width:50px; display: block; margin-left: auto; margin-right: auto;">
        </th>

        <th scope="col">
        </th>
      </tr>
      </thead>

      <% @list_of_members.each do |a_member| %>
      <tbody>
      <tr>
        <td>
          <%= a_member.user.first_name %>
        </td>

        <td>
          <%= a_member.role.role %>
        </td>

        <td>
          <img src=<%= a_member.user.profile_image %> style="width:250px;">
        </td>

        <td style="text-align: center;">
          <%= a_member.user.bio %>
        </td>

        <td style="font-family: 'Architects Daughter', cursive;">
          <a href="/members/<%= a_member.id %>">
            <% if @current_user.id == a_member.user_id %>
              <div style="border-style: outset; padding: 35px; border-width: thin; text-align: center; font-size: large;" class="rounded"> 
                MY PROFILE
              </div>
            <% else %>
              <div style="border-style: outset; padding: 35px; border-width: thin; text-align: center; font-size: large;" class="rounded">
                MORE INFORMATION
              </div>
            <% end %>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
