<div>
  <div>
    <h1>
      The <%= @current_user.last_name %> Family
      <%# List of all family members %>
    </h1>
    <p>
      [Being a FAMIly means you are part of something very wonderful. It means you will love and be loved for the rest of your life. No matter what.]
    </p>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <%# <th>
          ID
        </th> %>
        <th>
          Name
        </th>

        <th>
          Role
        </th>

        <th>
          Profile image
        </th>

        <th>
          Bio
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_members.each do |a_member| %>
      <tr>
        <td>
          <%= a_member.user.first_name %>
        </td>

        <td>
          <%= a_member.role.role %>
        </td>

        <td>
          <img src=<%= a_member.user.profile_image %> style="width:250px;">
        </td>

        <td>
          <%= a_member.user.bio %>
        </td>

        <td>
          <a href="/members/<%= a_member.id %>">
            <% if @current_user.id == a_member.user_id %>
              My Profile
            <% else %>
              More Information
            <% end %>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
