<div class="card mb-3" style="
  width:702px; display: block;
  margin-left: auto;
  margin-right: auto;">
  <img class="card-img-top" src=<%= @the_member.user.profile_image %> alt="<%= @the_member %>'s profile image" style="width:700px;">
  <div class="card-body">
    <h3 class="card-title" style="font-family: 'Architects Daughter', cursive;"><%= @the_member.user.first_name %> <%= @the_member.user.last_name %></h3>
    <p class="card-text"><%= @the_member.user.bio %></p>
    <p class="card-text"><small class="text-muted"><%= @the_member.role.role %></small></p>
  </div>
</div>

<hr>
<div class="card text-center">
  <div class="card-header">
    Coupons
  </div>
  <div class="card-body">
  <% if (@the_member.role.role == "Daughter") || (@the_member.role.role == "Son") %>
  <% @list_of_members.each do |a_member| %>
      <% if a_member.user_id == @the_member.user_id %>
        <% @the_member.user.coupons.each do |a_coupon| %>
          <tr>
            <td>
              <h3 class="card-title">
                <img src="https://help.idevaffiliate.com/wp-content/uploads/2015/04/coupon-graphic.gif" style="width:100px;">
                <%= a_coupon.coupon_content %>
              </h3>
            </td>
            <td>
              <p class="card-text">
                <div style="font-family: 'Architects Daughter', cursive; font-weight: bold; text-decoration: underline;">Giver Name:</div>
                <% matching_role_id = Member.where({ :user_id => a_coupon.giver_id }).at(0).role_id %>
                <%= Role.where({ :id => matching_role_id }).at(0).role %>
              </p>
            </td>
            <td>
              <p class="card-text">
                <div style="font-family: 'Architects Daughter', cursive; font-weight: bold; text-decoration: underline;">Expiration Date:</div>
                <%= a_coupon.expiration_date %>
              </p>
            </td>
            <br>
            <td>
              <a href="/chores/<%= a_coupon.chore.id %>" type="button" class="btn btn-outline-dark">
                Details of the Linked Chore
              </a>
            </td>
            <br>
            <br>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
  <% @list_of_members.each do |a_member| %>
      <% if a_member.user_id == @the_member.user_id %>
        <% a_member.coupons.each do |a_coupon| %>
          <tr>
            <td>
              <h3 class="card-title">
                <img src="https://help.idevaffiliate.com/wp-content/uploads/2015/04/coupon-graphic.gif" style="width:100px;">
                <%= a_coupon.coupon_content %>
              </h3>
            </td>
            <td>
              <p class="card-text">
                <div style="font-family: 'Architects Daughter', cursive; font-weight: bold; text-decoration: underline;">Receiver Kid:</div>
                <%= User.where({ :id => a_coupon.receiver_id }).at(0).first_name %>
              </p>
            </td>
            <td>
              <p class="card-text">
                <div style="font-family: 'Architects Daughter', cursive; font-weight: bold; text-decoration: underline;">Expiration Date:</div>
                <%= a_coupon.expiration_date %>
              <p class="card-text">
            </td>
            <br>
            <td>
              <a href="/chores/<%= a_coupon.chore.id %>" type="button" class="btn btn-outline-dark">
                Details of the Linked Chore
              </a>
            </td>
            <br>
            <br>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
<hr>
<div>
  <div>
    <% if @current_user.id == @the_member.user_id %>
      <h2 style="font-family: 'Architects Daughter', cursive;">
        <img src="https://www.clipartkey.com/mpngs/m/184-1840185_pen-and-paper-png-edit-icon-jpg.png" style="width:50px; display: block; margin-left: auto; margin-right: auto;">
        <div style="text-align: center;">Edit Your Profile</div>
      </h2>
      <form action="/modify_member/<%= @the_member.id %>"  method="post">
        <div class="row form-group">
          <div class="col">
            <label for="name_box">
              First Name
            </label>
            <input type="text" id="name_box" name="query_first_name" value="<%= @the_member.user.first_name %>">
          </div>
        </div>
        <div class="form-group">
          <label for="profile_image_box">
            Profile image
          </label>
          <input type="text" class="form-control" id="profile_image_box" name="query_profile_image" aria-describedby="imageHelp" value="<%= @the_member.user.profile_image %>">
          <small id="imageHelp" class="form-text text-muted">Enter your new profile image url here to update.</small>
        </div>
        <div class="form-group">
          <label for="bio_box">
            Bio
          </label>
          <textarea class="form-control" id="bio_box" name="query_bio"><%= @the_member.user.bio %></textarea>
        </div>
        <button class="form-group" type="submit" style="font-family: 'Architects Daughter', cursive;">UPDATE YOUR PROFILE</button>
      </form>
    <% end %>
     <div>
      <div>
        <a href="/members" class="btn btn-secondary btn-lg">
          Go back
        </a>
        <%# &nbsp;|&nbsp; %>
      </div>
    </div>
  </div>
</div>



